@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,100&family=Roboto:ital,wght@1,300&display=swap');
:root {
    --primary: #F8F8F8;
    --secondary: #95989A;
    --text-color: #000;
    --text-secundary: #BEBEBE;
}

#background-meus-servicos {
    position: relative;
    height: 65vh;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0, .5)),
    url("../imgs/back-4.jpg");
    background-position: center;
    background-size: cover;
}

#meus-servicos{
    height: max-content;
    color: var(--text-color);
}

#meus-servicos h1 {
    width: max-content;
    margin: 1em auto .3em;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#servicos-text{
    text-align: center;
    color: var(--secondary);
    padding-bottom: 2em;
}

.servico i {
    font-size: 3em;
    padding: 25px;
}

.servicos {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 5em;
}
.servico {
    width: 30%;
    line-height: 1.2em;
    font-family: 'Montserrat', sans-serif;
}

.servico h3 {
    padding-top: 1.5em;
    margin-bottom: 1em;
}

.servico p {
    color: var(--text-color);
    font-size: .8em;
}

.servico span {
    font-weight: bold;
}

@media (max-width: 909px) {
    .servicos {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    
    .servico {
        margin-bottom: 2em;
        
    }

}